a.button{
    color: #62ac1e;
    border: 1px solid #62ac1e;
}
a.button:hover, .shop-cart-body .shop-cart4 .upload-cart, .shop-cart-body .shop-cart4 .shipping button , .shop-cart-body .shop-cart4 .cart-totals button, .shop-checkout-body #payment .place-order input{
    background: #62ac1e;
    border: 1px solid #62ac1e;
    
}

.cat_cars .list-group-item:hover .badge{
    color: #62ac1e;
}

.tab-search-default .tab-btn-wrapper .tab-btn:focus {
    background-color: #62ac1e;
}

.selector span.custom-select:before{
    background: #62ac1e;
}
.Default-clr{
    color: #62ac1e;
}
.Default-clr-hvr:hover{
    color: #62ac1e;
}
.default-bg{
    background: #62ac1e;
}
.blog-section .site-page-breadcrumb span{
    color: #62ac1e;
}
.rbutton {
    background: #62ac1e none repeat scroll 0 0;
    border: 1px solid #62ac1e;
}
.transparent{
    border:1px solid #62ac1e;
    color: #62ac1e;    
    background: transparent;
}
.bg-primary{
        background-color: #62ac1e;
}
a.read-more {
    
    border: 1px solid #62ac1e;
   
    background: #62ac1e;
}
.scrollup {
    
    background: #62ac1e;
}
.review-rating label .fa{
    color: #62ac1e;
   
}

.title-separator-outer {
    color: #62ac1e;
}

.spinner i  , .five-stars-container .five-stars:before, .five-stars-container.editable-rating .ui-slider-range:before, .coming-soon-section .wrapper .social li a , .profile-details .content-profile .info p.title, .wish-list .wish-listitem h3, .booking-details .booking-detail h3, .booking-details .booking-detail .detail-info p, .cars-title, .mainmenu .navbar-nav li .dropdown-menu a:hover , .shop-cart-body .shop-cart4 tr td .del a, .shop-checkout-body .checkout-order-left .order-total, .shop-checkout-body #payment ul li a, .shop-checkout-body .checkout-billing-left p .required,  .product-thumb .caption .inner i, .product-thumb .caption .inner span.fa-map-marker, .gallery-items-5-2 .product-thumb .caption button:hover, .product-thumb:hover .caption button  {
    color: #62ac1e;
    
}
.header-text h1 span {
    color: #62ac1e;
}
.header-search-form-area input[type="submit"] {
    background: #62ac1e;
   
}
.mainmenu .navbar-nav li.active > a{
    
    color: #62ac1e;
    
}
.mainmenu .navbar-nav li a:hover {
   
    color: #62ac1e;
   
}
.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #62ac1e;
}

.header-text a {
    
    border: 1px solid #62ac1e;
    
    background: #62ac1e;
}
.header_top .pull-right a:hover {
    color: #62ac1e;
}
input[type="submit"].button{
    
    border: 1px solid #62ac1e;
  
    background: #62ac1e;
    
}

input[type="submit"].button:hover {
    
    border: 1px solid #62ac1e;
    
}
.single-place h4 {
   
    color: #62ac1e;
}
.owl-theme .owl-controls .owl-buttons div {
  
    color: #62ac1e;
    
    border: #62ac1e 2px solid;
 }   
.aboutfeature li i{
    color: #62ac1e;
}
.single-service:hover .service-icon i{
    color: #62ac1e; 
}
.video-area-text i {
   
    color: #62ac1e;
   
}
.call-to-area-text a {
   
    border: 1px solid #62ac1e;
   
    background: #62ac1e;
   
}

.call-to-area-text a:hover {
    color: #62ac1e;
    
}
.overlay-offer .button {
    background: #62ac1e none repeat scroll 0 0;
  
   
   
}
.field-icon [class*="fa-"], .field-icon i {
   
    color: #62ac1e;
}
.hotel-menu button.active,
.hotel-menu button:hover {
    
    color: #62ac1e
}
.flight-details .flight-title{
   
    color: #62ac1e;
}

.flight-details .flight-offer span , .flight-details .fair span{
    color:  #62ac1e;
}
.tour-cost{
   
    color: #62ac1e;
   
}


.inline ul li.active ins{
    color: #62ac1e;
}

.inline ul li:hover ins{
    color: #62ac1e;
}



.cruise-review .checked{
    color: #62ac1e;
}
input[type='range']::-webkit-slider-thumb:hover {
  
  border: 1px solid #62ac1e;
  background: #62ac1e;
 
}
.sidebar-category a:hover {
    color: #62ac1e;
}
.widget-tags li a:hover{
   
    background:#62ac1e;
  
}
.pagination li a:hover{
    background: #62ac1e;
    color: #fff;
}
.review-details .client-id{
   
    color: #62ac1e;
}
.blog-heading{
    
    color: #62ac1e;
   
  }
  .post-meta span i{
    
    color: #62ac1e;
  }
  .author-social li a{
    border: 1px solid #62ac1e;
    color: #62ac1e;
  
}
.author-social li a:hover{
    border: 1px solid #62ac1e;
    background: #62ac1e;
}
.commentreply{
   
    background-color:#62ac1e;
  
}
.comment-date{
    color: #62ac1e;
   
}
.offer-listtitle{
  
    color: #62ac1e;
}
.offer-list li span{
    color: #62ac1e;
}
.content-left{
    
    color: #62ac1e;
    
}
.content-right{
   
    color: #62ac1e;
   
}
.form-control:focus {
    border-color: #62ac1e;
  
}

.contact-form input[type='submit'] {
   
    border: 1px solid #62ac1e;
    background-color: #62ac1e;
    
}

.contact-form input[type='submit']:hover {
    
    border: 1px solid #62ac1e;
   
}
.footer-bottom {
    background: #62ac1e;
   
}
footer .widget ul i{
    
    color: #62ac1e;
    
}
.formnewsletter button {
    background: #62ac1e none repeat scroll 0 0;
   
}
.lineStart>.col-lg-6:first-of-type:after, .lineStart>.col-md-6:first-of-type:after, .lineStart>.col-sm-6:first-of-type:after, .lineContinue>.col-lg-6:first-of-type:after, .lineContinue>.col-md-6:first-of-type:after, .lineContinue>.col-sm-6:first-of-type:after, .lineEnd>.col-lg-6:first-of-type:after, .lineEnd>.col-md-6:first-of-type:after, .lineEnd>.col-sm-6:first-of-type:after{
    background: #62ac1e;
}
.color-box{
    background: #62ac1e;
}
.gallery-menu button.active, .gallery-menu button:hover {
    background-color: transparent;
    color: #62ac1e;
}
.tour2-cost {
    color: #62ac1e;
}

header .button-login .btn-default:active:hover{
    color: #fff;
    background:#62ac1e;
}


#menu .navbar-nav > .active > a, #menu .navbar-nav > .active > a:hover, #menu .navbar-nav > .active > a:focus, #menu1 .navbar-nav > .active > a, #menu1 .navbar-nav > .active > a:hover, #menu .navbar-nav > .active > a:focus {
    color: #62ac1e;
    background-color: #62ac1e;
}
#menu .dropdown-menu li a:hover, #menu1 .dropdown-menu li a:hover{
    color:#62ac1e;
    
}
.slide-detail form .calender i, .slide-detail form .btn i{
    background:#62ac1e;
    
}
header .button-login .btn-default{
    background:linear-gradient(to left, #8ce837, #62ac1e);
}
.slide-detail form .btn-primary{
    background: linear-gradient(to top, #62ac1e, #8ce837)  
}
.places p:after {
    border-top: 5px solid #62ac1e;
    
}
.places .nav-tabs > li > a:hover:after, .places .nav-tabs > li.active > a:after{
    border-bottom: 8px solid #62ac1e;
  
}
.places .nav-tabs > li > a:hover:before, .places .nav-tabs > li.active > a:before{
    border-bottom: 10px solid #62ac1e;
   
}
.news .product-thumb .image .matter button {
    background: linear-gradient(to top, #62ac1e, #8ce837);
   
}
.subscribe .btn-default{
    background: linear-gradient(to top, #62ac1e, #8ce837);
   
}
.gallery-items-5-2 .product-thumb .caption button:hover{
    background: linear-gradient(to top, #62ac1e, #8ce837);
    color:#fff;
}
.tab-search-default .active .tab-btn {
    background: #62ac1e;
    color: #fff;
}
.find-widget .text-box-wrapper .tb-icon{
    color: #62ac1e;
}
.btn-slide {
    border: 1px solid #62ac1e;
    background-color: #62ac1e;
}
.formnewsletter2 button {
    background: #62ac1e none repeat scroll 0 0;
    }
.feature-block .feature i {
    color: #62ac1e;
}
.ad .ad-action > a {
    color: #62ac1e;
}
li.product .price ins, .section-onsale-product .onsale-product .price ins, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .price ins, .products-carousel .owl-item .product .price ins {
    color: #62ac1e;
}
.star-rating span:before {
    color: #62ac1e;
}
.message-box {
    background: #62ac1e;
    padding: 15px;
}
.site-footer .widget .contactinfo span.fa {
    color: #62ac1e;
}
.site-footer .widget .address span.fa {
    color: #62ac1e;
}
.site-footer .widget .timing span.fa {
    color: #62ac1e;
}
.social-h3 li a:hover{
    color: #62ac1e;
}
.site-footer .widget .social-links li a:hover i{
    color: #62ac1e;
}
